// SIZE
$base_font_size:16px;
$f: 100%;
$bp: 850px;
$max-width: 1366px;
$max-width-blog: 700px;
$padding_container: 20px;


// COLOR
$w: #fff;
$b: #000;
$base_color: #575756;
$gray: #3c3c3b;
$medium_gray: #808285;;
$light_gray: #dcddde;
$gold: #918552;
$yellow: #f7dda9;
$border-footer: #9b9162;
$category_gray: #b1b3b6;
$category_line: #f1f2f2;
$time-post: #414042;

//FONTS
$main-font: 'Noto Sans', sans-serif;
$second-font: 'Noto Serif', serif;
$third-font: 'trajan-pro-3', serif;

$letter-spacing-large: .22em;
$letter-spacing-base: .06em;




