.woocommerce-breadcrumb {
    a {
        padding-top: em(15px);
        padding-bottom: em(15px);
        color: $gold;
        font-size: em(12px);
        font-family: $main-font;
        font-weight: bold;
        &:last-child {
            color: $placeholder;
        }
    }
}