.woocommerce-breadcrumb {
    color: $placeholder;
    padding-top: em(15px);
    padding-bottom: em(15px);
    font-size: em(12px);
    font-family: $main-font;
    a {
        font-weight: bold;
        color: $gold;
    }
}