.woocommerce-breadcrumb {
    color: $placeholder;
    padding-top: em(15px);
    padding-bottom: em(15px);
    font-size: em(12px);
    font-family: $main-font;
    background-color: $category_line;
    a {
        font-size: em(12px, 12px);
        font-weight: bold;
        color: $gold;
    }
}

.breadcrumb{
    padding-top: em(15px, 12px);
    padding-bottom: em(15px, 12px);
    padding-left: em(30px, 12px);
    font-size: em(12px);
    font-family: $main-font;
    background-color: $category_line;
    a {
        font-size: em(12px, 12px);
        font-weight: bold;
        color: $gold;
    }
    .breadcrumb_last {
        color: $placeholder;
    }
}

.home .breadcrumb {
    display: none;
}