%btn {
    padding: em(20px, 16px) em(40px, 16px);
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    border: 1px solid $gold;
    font-family: $third-font;
    font-size: em(16px);
}

.btn {
    @extend %btn;
    background-color: $gold;
    color: $w;
    margin: 0;

    &:hover {
        background-color: $w;
        color: $gold;
    }
}

.btn-reverse {
    @extend %btn;
    color: $gold;

    &:hover {
        background-color: $gold;
        color: $w;

    }
}

.btn-social {
    @extend %btn;
    border: 3px solid $gold;
    color: $gold;

    &:hover {
        background-color: $gold;
        color: $w;
    }
}



