%btn {
    padding: em(20px) em(40px);
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    border: 1px solid $gold;
    font-family: $third-font;
    line-height: 1;
    font-size: em(16px);
    transition: background-color $speed;
    p & {
        font-size: em(16px, 18px);
    }
    .aligncenter & {
        margin: em(10px) em(10px);
    }
    &:disabled {
        background-color: $light_gray;
        color: $base_color;
        border-color: $light_gray;
        cursor: disabled;
        opacity: .85;
    }
}

.btn {
    @extend %btn;
    background-color: $gold;
    color: $w;
    margin: 0;

    &:hover {
        background-color: $gray;
        border-color: $gray;
    }
}

.btn-reverse {
    @extend %btn;
    color: $gold;
    background-color: $w;

    &:hover {
        background-color: $gold;
        color: $w;

    }
}

.btn-social {
    @extend %btn;
    border: 3px solid $gold;
    color: $gold;
    background-color: $w;

    &:hover {
        background-color: $gold;
        color: $w;
    }
}


.grid-4.grid-cols {
    .col-2 {
        .btn {
            margin-bottom: em(40px);
            @include breakpoint($bp) {
            }
        }
    }
}

.btn.min-width {
    max-width: 200px;
    text-align: center;
    display: block;
    margin: 0 auto;

    @include breakpoint($bp) {
        display: inline;
    }
}
