.facebook {
    display: flex;
    align-items: center;
    justify-content: center;

    .like-content {
        background-color: $yellow;
        padding: em(70px) em(200px);
        position: relative;

        p {
            text-align: center;
        }

        .logo {
            position: absolute;
            width: em(140px);
            height: em(140px);
            top: -70px;
            right: -70px;
            .j {
                font-size: em(100px);
            }
        }
        .like {
            position: absolute;
            width: em(100px);
            height: em(100px);
            top: calc(50% - 50px);
            right: -10px;
            background-color: #3c5a9a;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon-facebook {
                font-size: em(65px);
                color: $w;
            }
        }
    }
    .gray-square {
        width: em(200px);
        height: em(200px);
        position: absolute;
        background-color: $light_gray;
        bottom: calc(50% - #{em(200px)});
        left: calc(50% - #{em(200px)});
    }
    .pattern {
       /* @include pattern();*/
        background-color: red;
        position: absolute;
        width: em(200px);
        height: em(200px);
        bottom: calc(50% - #{em(80px)});
        right: calc(50% - #{em(500px)});
    }
    figure {
        position: absolute;
        top: 0;
        left: calc(50% - #{em(530px)});
    }
}