.facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .like-content {
        background-color: $yellow;
        padding: em(70px) 0;
        max-width: em(600px);
        width: 100%;
        position: relative;
        text-align: center;

        p {
            text-align: center;
        }
    }
    .logo {
        position: absolute;
        width: em(140px);
        height: em(140px);
        top: -70px;
        right: -70px;
        display: none;
        z-index: 10;
        @include breakpoint($bp){
            display: block;
        }
        .j {
            font-size: em(100px);
        }
    }
    .like {
        position: absolute;
        width: em(100px);
        height: em(100px);
        top: calc(50% - 50px);
        right: -10px;
        background-color: #3c5a9a;
        align-items: center;
        justify-content: center;
        display: none;
        @include breakpoint($bp){
            display: flex;
        }
        img {
            width: 80%;
            height: auto;
            margin: 0 auto;
        }
    }
    .gray-square {
        width: em(200px);
        height: em(200px);
        position: absolute;
        background-color: $light_gray;
        bottom: calc(50% - #{em(200px)});
        left: calc(50% - #{em(200px)});
        display: none;
        @include breakpoint($bp){
            display: block;
        }
    }
    .pattern {
        @include pattern();
        position: absolute;
        width: em(200px);
        height: em(200px);
        bottom: calc(50% - #{em(80px)});
        right: calc(50% - #{em(500px)});
        display: none;
        @include breakpoint($bp){
            display: block;
        }
    }
    figure {
        position: absolute;
        top: 0;
        left: calc(50% - #{em(530px)});
        display: none;
        @include breakpoint($bp){
            display: block;
        }
    }
}