.facebook {
    display: flex;
    align-items: center;
    justify-content: center;

    .like-content {
        background-color: $yellow;
        padding: em(70px) em(200px);

        p {
            text-align: center;
        }
    }
    figure{
        position: absolute;
        left: 0;
        top: 0px;
    }
}