.faq {
    padding-top: em(100px);
    padding-bottom: em(100px);
    background-color: $yellow;
}

.text-block {
    .check {
        position: relative;
        display: block;
        flex: 0 0 auto;
        transition: color $speed;
        .number {
            font-size: em(30px);
            font-family: $third-font;
            color: $light_gray;
            font-weight: bold;
            position: absolute;
            left: -5px;
            top: -20px;
            font-style: normal;
            transition: color $speed;
        }
    }
    .argomento-text {
        color: $gold;
        transition: color $speed;
    }

    .argomento {
        display: flex;
        align-items: center;
        padding-left: 0;
        cursor: pointer;
    }

    .argomento.active {
        .check {
            background-color: $yellow;
            .number {
                color: $base_color;
            }
        }
        .argomento-text {
            color: $base_color;
        }
    }
    .argomento + p {
        display: none;
    }
}
