%inputs {
    @include appearance(none);
    border: 1px solid $gold;
    padding: em(20px);
    background-color: $w;
    width: $f;
    color: $gray;
    @include input-placeholder() {
        font-family: $main-font;
        font-size: 1em;
        color: $light_gray;
    }
    &.wpcf7-not-valid {
        border-color: #7a2f31;
        background-color: #f1eaea;
        color: #7a2f31;
        font-weight: bold;
        @include input-placeholder() {
            color: #7a2f31;
            font-weight: bold;
        }
    }
    &:focus {
        outline: none !important;
    }
}

input {
    &[type="text"], &[type="email"], &[type="password"], &[type="tel"], &[type="search"] {
        @extend %inputs;
    } 
}

.input {
	&-row {
    	padding-bottom: em(30px);
    }
}

.acceptance {
	&-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
        flex-wrap: wrap;
	}
}

.ajax-loader {
    width: $f;
}

textarea {
    @extend %inputs;
    min-height: 150px;
    resize: none;
}

input[type="checkbox"] {
    display: none;
    & + label {
    	font-size: em(12px);
    	font-style: italic;
    	display: flex;
    	align-items: center;
    	cursor: pointer;
    	&:before {
    		width: 14px;
    		height: 14px;
    		border: 1px solid $w;
    		outline: 1px solid $gold;
    		transition: background-color $speed;
    		margin-right: 10px;
    		content: '';
    	}
    }
    &:checked + label {
    	&:before {
    		background-color: $gold;
    	}
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.screen-reader-response, .wpcf7-not-valid-tip, .wpcf7-response-output {
    display: none !important;
}