%inputs {
    @include appearance(none);
    border: 1px solid $gold;
    padding: em(20px);
    background-color: $w;
    width: $f;
    color: $gray;
    @include input-placeholder() {
        font-family: $main-font;
        font-size: 1em;
        color: $light_gray;
    }
}

input {
    &[type="text"], &[type="email"], &[type="password"], &[type="tel"] {
        @extend %inputs;
    } 
}

.input {
	&-row {
    	padding-bottom: em(30px);
    }
}

.acceptance {
	&-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
        flex-wrap: wrap;
	}
}

.ajax-loader {
    width: $f;
}

textarea {
    @extend %inputs;
    min-height: 150px;
    resize: none;
}

input[type="checkbox"] {
    display: none;
    & + label {
    	font-size: em(12px);
    	font-style: italic;
    	display: flex;
    	align-items: center;
    	cursor: pointer;
    	&:before {
    		width: 14px;
    		height: 14px;
    		border: 1px solid $w;
    		outline: 1px solid $gold;
    		transition: background-color $speed;
    		margin-right: 10px;
    		content: '';
    	}
    }
    &:checked + label {
    	&:before {
    		background-color: $gold;
    	}
    }
}

.wpcf7-list-item.first.last {
    margin: 0;
}

.wpcf7-list-item-label {
    overflow: hidden;
    text-indent: 120%;
    white-space: nowrap;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.wpcf7-validates-as-required.wpcf7-not-valid{
    .wpcf7-list-item-label{
        outline:1px solid $red-alert;
    }
}

span .wpcf7-not-valid {
    border: 1px solid $red-alert;
}
span .wpcf7-not-valid::-webkit-input-placeholder {
    color: $red-alert;
}
span .wpcf7-not-valid::-moz-placeholder { /* Firefox 19+ */
    color: $red-alert;
}
span .wpcf7-not-valid:-ms-input-placeholder { /* IE 10+ */
    color: $red-alert;
}
span .wpcf7-not-valid:-moz-placeholder { /* Firefox 18- */
    color: $red-alert;
}

span.wpcf7-not-valid-tip {
    display: none;
}
div.wpcf7-validation-errors {
    background: #ffe2e2;
    border: 1px solid $red-alert;
    color: $red-alert;
}
.autorizzazione .wpcf7-not-valid, .newsletter .wpcf7-not-valid{
    border:none!important;
}


div.wpcf7-response-output {
    margin: 2em 0;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
div.wpcf7-validation-errors {
    display: none !important;
}