
.container-img {
    position: relative;

    .full-img {
        width: 100%;
        display: block;

    }
    .square {
        display: none;
        @include breakpoint($bp) {
            display: block;
            width: em(180px);
            height: em(180px);
            background-color: $yellow;
            position: absolute;
            bottom: em(-60px);
            right: em(50px);
            z-index: -1;
        }
    }
    .square-shadow {
        display: none;
        @include breakpoint($bp) {
            display: block;
            width: em(240px);
            height: em(240px);
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQoU43M2QkAIAwEUdPF9l/ddqFEUDxyzfdjpBUi2SVzigBICBfSmQtP5MIXmdBCH/TQBSO0YYYmrCCFA5/kJ8KH9VPqAAAAAElFTkSuQmCC) repeat;
            position: absolute;
            bottom: em(-120px);
            right: em(80px);
        }
    }
}

.zoomer {
    max-width: 1000px;
    margin: 0 auto;
    img {
        width: $f !important;
        height: auto !important;
    }
}

.switcher {
    height: 0;
    position: relative;
}

.face-wrapper {
    position: absolute;
    top: 0;
    height: $f;
    width: $f/2;
    img {
        position: absolute;
        top: 0;
        width: auto;
        height: $f;
    }
    &.back {
        left: 0;
        img {
            left: 0;
        }
    }
    &.front {
        left: 50%;
        img {
            right: 0;
        }
    }
}

.dragger {
    position: absolute;
    width: 2px;
    top: 0;
    left: 50%;
    margin-left: -1px;
    height: calc(100% + 20px);
    background-color: $gold;
    cursor: pointer;
    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 12px;
        background-color: $w;
        border-radius: 100%;
        border: 2px solid $gold;
        margin-left: -5px;
        height: 12px;
        content: '';
    }
    .icon-drag {
        position: absolute;
        color: $light_gray;
        font-size: em(50px);
        margin-left: em(20px, 50px) * -1;
        top: 100%;
        left: 0;
        margin-top: 3px;
    }
}