
.container-img {
    position: relative;

    .full-img {
        width: 100%;
        display: block;

    }
    .square {
        display: none;
        @include breakpoint($bp) {
            display: block;
            width: em(180px);
            height: em(180px);
            background-color: $yellow;
            position: absolute;
            bottom: em(-60px);
            right: em(50px);
            z-index: -1;
        }
    }
    .square-shadow {
        display: none;
        @include breakpoint($bp) {
            display: block;
            width: em(240px);
            height: em(240px);
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQoU43M2QkAIAwEUdPF9l/ddqFEUDxyzfdjpBUi2SVzigBICBfSmQtP5MIXmdBCH/TQBSO0YYYmrCCFA5/kJ8KH9VPqAAAAAElFTkSuQmCC) repeat;
            position: absolute;
            bottom: em(-120px);
            right: em(80px);
        }
    }
}

.zoomer {
    max-width: 1000px;
    margin: 0 auto;
    img {
        width: $f !important;
        height: auto !important;
    }
}