@include grid(4);
.grid-cols {
	align-items: center;
	padding: {
		left: 0;
		right: 0;
	}
	[class^="col"], [class*=" col"] {
		padding: {
			left: 0;
			right: 0;
		}
	}
	&-full-h {
		padding: 0;
		[class^="col"], [class*=" col"] {
			padding: {
				left: 0;
				right: 0;
			}
			overflow: hidden;
			position: relative;
			&:before {
				content: '';
				display: block; 
				padding-top: 55%;
			}
			.video-cover, .figure.full {
				@include absfull();
			}
			.figure {
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate3d(-50%, -50%, 0);
					width: auto !important;
					height: auto !important;
					min-height: 100%;
					min-width: 100%;
				}
			}
		}
	}
}

.row {
	padding: {
		top: em(20px);
		bottom: em(20px);
	}
	&-md {
		padding: {
			top: em(40px);
			bottom: em(40px);
		}
	}
	&-lg {
		padding: {
			top: em(40px);
			bottom: em(40px);
		}
		@include breakpoint($bp) {
			padding: {
				top: em(40px)*2;
				bottom: em(40px)*2;
			}
		}
	}
}
