.instagram {
    .container-img {
        position: relative;
        .logo {
            position: absolute;
            width: em(80px);
            height: em(80px);
            bottom: em(-40px);
            left: calc(50% - #{em(40px)});
            .j {
                font-size: em(60px);
            }
            display: none;
            @include breakpoint($bp) {
                display: block;
            }
        }
    }
    .container-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: em(80px);
    }
}