.master {
    display: flex;
    justify-content: center;
    .master-content{
        color: $gold;
        font-size: em(26px);
        font-family: $third-font;
        text-align: center;
        background-color: $yellow;
        padding: em(50px, 26px) em(80px, 26px);
    }
    .square {
        height: 0;
        width: 20%;
        padding-bottom: 20%;
        background-color: $square-master;
        position: absolute;
        bottom: em(-50px);
        right: 50%;
        z-index: -1;
    }
    .pattern {
        height: 0;
        width: 40%;
        padding-bottom: 40%;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQoU43M2QkAIAwEUdPF9l/ddqFEUDxyzfdjpBUi2SVzigBICBfSmQtP5MIXmdBCH/TQBSO0YYYmrCCFA5/kJ8KH9VPqAAAAAElFTkSuQmCC) repeat;
        position: absolute;
        left:0;
        bottom: -75%;
        z-index: -1;
    }
}