.master {
    display: flex;
    justify-content: center;
    .master-content{
        color: $gold;
        font-size: em(26px);
        font-family: $third-font;
        text-align: center;
        background-color: $yellow;
        padding: em(50px, 26px) em(80px, 26px);
    }
    .square {
        height: 0;
        width: 20%;
        padding-bottom: 20%;
        background-color: $square-master;
        position: absolute;
        bottom: em(-50px);
        right: 50%;
        z-index: -1;
    }
    .pattern {
        height: 0;
        width: 40%;
        padding-bottom: 40%;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQoU43M2QkAIAwEUdPF9l/ddqFEUDxyzfdjpBUi2SVzigBICBfSmQtP5MIXmdBCH/TQBSO0YYYmrCCFA5/kJ8KH9VPqAAAAAElFTkSuQmCC) repeat;
        position: absolute;
        left:0;
        bottom: -75%;
        z-index: -1;
    }
    .logo {
        text-align: center;
        color: $w;
        overflow: hidden;
        position: absolute;
        width: 10%;
        padding-bottom: 10%;
        font-family: $third-font;
        z-index: 9999;
        .j {
            @include absfull();
            font-size: em(50px);
            line-height: em(62px, 50px);
            transition: {
                property: transform;
                duration: $speed;
            }
            &:nth-child(1) {
                background-color: $b;
            }
            &:nth-child(2) {
                background-color: $gold;
                transform: translate3d(0, 100%, 0);
            }
        }
        &:hover {
            color: $w;
            .j {
                &:nth-child(1) {
                    transform: translate3d(0, -100%, 0);
                }
                &:nth-child(2) {
                    transform: translate3d(0, 0%, 0);
                }
            }
        }
    }
}