.banner {
	height: em(70px);
	position: fixed;
	top: 0;
	left: 0;
	width: $f;
	z-index: 9997;
	background-color: $w;
	display: flex;
	justify-content: space-between;
	.btn-header {
		height: em(70px);
		display: flex;
		align-items: center;
		@include normalize_padding;
	}
	.logo {
		width: em(70px);
		text-align: center;
		color: $w;
		overflow: hidden;
		position: relative;
		font-family: $third-font;
		.j {
			@include absfull();
			font-size: em(50px);
			transition: {
				property: transform;
				duration: $speed;
			}
			&:nth-child(1) {
				background-color: $b;
			}
			&:nth-child(2) {
				background-color: $gold;
				transform: translate3d(0, 100%, 0);
			}
		}
		&:hover {
			.j {
				&:nth-child(1) {
					ransform: translate3d(0, -100%, 0);
				}
				&:nth-child(2) {
					transform: translate3d(0, 0%, 0);
				}
			}
		}
	}
}
.aside {
	position: fixed;
	left: 0;
	top: em(70px);
	bottom: 0;
	width: em(70px);
	display: block;
	font-family: $third-font;
	@include breakpoint($bp) {
		display: inherit;
	}
	.panel {
		position: absolute;
		top: 0;
		left: 100%;
		height: $f;
		width: em(300px);
		transition: {
			duration: $speed;
			property: transform;
		}
		transform: translate3d(-120%, 0, 0);
		&.opened {
			transform: translate3d(0%, 0, 0);
		}
	}
}