.banner {
	height: em(70px);
	position: fixed;
	top: 0;
	left: 0;
	width: $f;
	z-index: 9997;
	background-color: $w;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	a {
		color: $base_color;
		&:hover {
			color: $gold;
		}
	}
	.btn-header {
		height: em(70px);
		display: flex;
		align-items: center;
		@include normalize_padding;
		&.btn-shop {
			color: $w;
			background-color: $gold;
			transition: background-color $speed;
			&:hover {
				background-color: $base_color;
				color: $w;
			}
		}
		&.btn-menu {
			position: relative;
			z-index: 9999;
		}
	}
	.logo {
		width: em(70px);
		text-align: center;
		color: $w;
		overflow: hidden;
		position: relative;
		font-family: $third-font;
		z-index: 9999;
		.j {
			@include absfull();
			font-size: em(50px);
			line-height: em(70px, 50px);
			transition: {
				property: transform;
				duration: $speed;
			}
			&:nth-child(1) {
				background-color: $b;
			}
			&:nth-child(2) {
				background-color: $gold;
				transform: translate3d(0, 100%, 0);
			}
		}
		&:hover {
			.j {
				&:nth-child(1) {
					transform: translate3d(0, -100%, 0);
				}
				&:nth-child(2) {
					transform: translate3d(0, 0%, 0);
				}
			}
		}
	}
}
.toggle {
	width: em(20px);
	height: em(16px);
	margin-left: 10px;
	.toggle-line {
		display: block;
		height: em(4px);
		margin-bottom: em(2px);
		background-color: $gold;
		&:nth-child(1) {
			animation: lineTop $speed reverse;
		}
		&:nth-child(2) {
			transition: opacity $speed;
		}
		&:nth-child(3) {
			animation: lineBottom $speed reverse;
			margin-bottom: 0;
		}
	}
	.active & {
		.toggle-line {
			&:nth-child(1), &:nth-child(2)  {
				animation-fill-mode: forwards;
				animation-direction: normal;
			}
			&:nth-child(2) {
				opacity: 0;
				transition-delay: $speed/2;
			}
		}
	}
}	
.aside {
	position: fixed;
	left: 0;
	top: em(70px);
	bottom: 0;
	width: em(70px);
	display: block;
	font-family: $third-font;
	@include breakpoint($bp) {
		display: inherit;
	}
	.panel {
		position: absolute;
		top: 0;
		left: 100%;
		height: $f;
		width: em(300px);
		transition: {
			duration: $speed;
			property: transform;
		}
		transform: translate3d(-120%, 0, 0);
		&.opened {
			transform: translate3d(0%, 0, 0);
		}
		&-btn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0) rotate(90deg);
			font-size: vh(16px);
			color: $gold;
			letter-spacing: $letter-spacing-large;
		}
	}
}

.menu {
	@include fixfull();
	z-index: 9998;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transform: scale(1.5) translate3d(0%, -100%, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	background-color: $w;
	transition: transform $speed, opacity $speed;
	padding-top: em(70px);
	overflow: hidden;
	.nav {
		margin: auto;
		text-align: center;
		width: $f;
		@include normalize_padding();
		a {
			display: block;
			padding: em(10px) 0;
		}
		.menu-item {
			transform: translate3d(-50px, 0, 0) skewX(10deg);
			opacity: 0;
			transition: transform $speed/2, opacity $speed/2;
		}
	}
	&.opened {
		transform: scale(1) translate3d(0%, 0%, 0);
		opacity: 1;
		.nav {
			.menu-item {
				opacity: 1;
				transform: translate3d(0, 0, 0) skewX(0deg);	
				@for $i from 1 through 12 {
					&:nth-child(#{$i}) {
						transition-delay: ($speed/2) * $i;
						transition-duration: $speed*2;
					}
				}
			}
		}
	}
	&-container {
		display: flex;
		justify-content: flex-end;
	}
	&-language {
		position: relative;
		@include normalize_padding();
		.lang-menu-item {
			display: flex;
			align-items: center;
			height: em(70px);
			&:after {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 6px 7px 0 7px;
				border-color: $gold transparent transparent transparent;
				transition: transform $speed;
				margin-left: 10px;
			}
			.sub-menu {
				position: absolute;
				top: 100%;
				left: 0;
				background-color: $w;
				@include hidden(true);
				.menu-item {
					a {
						display: block;
						padding-top: em(10px);
						padding-bottom: em(10px);
						@include normalize_padding();
						transition: color $speed, background-color $speed;
						&:hover {
							background-color: $light_gray;
						}
					}
				}
			}
			&:hover {
				&:after {
					transform: scaleY(-1) translateZ(0);
				}
				.sub-menu {
					@include hidden(false);
				}
			}
		}
	}
}

@keyframes lineTop {
	0% {
		transform: translate3d(0, 0, 0);
	}
	50% {
		transform: translate3d(0, #{em(6px)}, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(0, #{em(6px)}, 0) rotate(45deg);
	}
}
@keyframes lineBottom {
	0% {
		transform: translate3d(0, 0, 0);
	}
	50% {
		transform: translate3d(0, #{em(6px) * -1}, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(0, #{em(6px) * -1}, 0) rotate(-45deg);
	}
}