.pop-up {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__box {
        border: 2px solid $gold;

        .logo {
            display: block;
            position: absolute;
            height: 70px;
            width: 70px;
            left: -50px;
            top: calc(50% - 35px);
            z-index: 6;
        }
    }
    figure {
        width: auto;
        max-width: 100%;
        display: inline-block;
        img {
            width: 100%;
            height:	auto;
            display: block;
        }
    }
}