$padding_popup: 60px;
.pop-up {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__box {
        border: 2px solid $gold;
        position: relative;
        padding: em($padding_popup);

        .logo {
            display: block;
            position: absolute;
            height: em(70px);
            width: em(70px);
            left: 35px;
            top: calc(50% - 35px);
            z-index: 6;
        }
    }
    figure {
        width: auto;
        max-width: 100%;
        display: inline-block;
        img {
            width: 100%;
            height:	auto;
            display: block;
        }
    }
}