$padding_popup: 60px;
.pop-up {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9997;
    .blur {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: hsla(0,0%,100%,0.9);
        height: 100%;
        z-index: 9998;
    }
    &__box {
        border: 4px solid $yellow;
        position: relative;
        padding: em($padding_popup);
        margin-left: 50px;
        margin-right: 50px;
        z-index: 9999;
        background-color: $w;
        .logo {
            display: block;
            position: absolute;
            height: em(70px);
            width: em(70px);
            left: -35px;
            top: calc(50% - 35px);
            z-index: 6;
        }


    }
    figure {
        width: auto;
        max-width: 100%;
        display: inline-block;
        padding-bottom: em(60px);
        img {
            width: 100%;
            height:	auto;
            display: block;
        }
    }
    &--date {
        text-align: center;
        font-size: em(20px);
        padding-top: em(10px, 20px);
        color: $gold;
        font-family: $third-font;
        @include breakpoint($bp) {
            font-size: em(40px);
            padding-top: em(20px, 40px);
        }
    }
    &--text {
        text-align: center;
        font-size: em(20px);
    }

    .btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%, 50%, 0);
    }

    &--close {
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background-color: $square-master;

        .toggle-line {
            display: block;
            height:4px;
            background-color: $w;
            position: absolute;
            left: -5px;
            bottom: 50%;
            width: 20px;
            transform-origin: 100% 100%;
        }
        .toggle-line:nth-child(1) {
            transform: rotate(-45deg) translate3d(50%, 50%, 0);
        }
        .toggle-line:nth-child(2) {
            transform: rotate(45deg) translate3d(50%, 50%, 0);
            margin-bottom: 0;
        }

    }
}