.programma-corsi {
    .title-corso {
        width: 100%;
    }
    .argomento-text {
        padding-left: 0px;
        strong {
            color: $gold;
        }
    }
    .check {
        position: relative;
        display: block;
        flex: 0 0 auto;
        .number {
            font-size: em(30px);
            font-family: $third-font;
            color: $light_gray;
            font-weight: bold;
            position: absolute;
            left: -5px;
            top: -20px;
            font-style: normal;
        }
    }
    .argomento {
        display: flex;
        align-items: center;
        padding-left: 0;
    }
    .argomenti {
        padding-left: 0;
        padding-bottom: em(40px);
    }

}

.corso-price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    left: -50px;
    position: relative;
    &:before {
        width: em(115px);
        height: em(115px);
        content: '';
        @include pattern();
        position: relative;
        display: block;
        top: 0;
        left: em(30px);
        z-index: -1;
    }
    .price-container {
        display: flex;
        align-items: baseline;
        font-size: em(20px);
        .int-price {
            font-size: em(30px, 20px);
        }
    }
}

.col-programma{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}