
.row-quote {
    position: relative;
    @include pattern();
    .quote {
        margin:0;
        text-align: center;
        color: $gold;
        font-size: em(30px);
        font-family: $second-font;
        padding-top: em(140px, 30px);
        padding-bottom: em(140px, 30px);
    }
    .square-yellow-l {
        @extend %square-yellow;
        position: absolute;
        left: 10%;
        top: 10%;
        .square-black-l{
            @extend %square-black;
            position: absolute;
            right: -10%;
            bottom: -10%;
        }
    }
    .square-yellow-r {
        position: absolute;
        right: 10%;
        bottom: 10%;
        @extend %square-yellow;
        .square-black-r{
            @extend %square-black;
            position: absolute;
            left: -10%;
            bottom: -10%;
        }
    }

}

%square-yellow {
    width: em(60px);
    height: em(60px);
    background-color: $yellow;
}

%square-black {
    width: em(26px);
    height: em(26px);
    background-color: $square-master;
}