

.row-quote {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQoU43M2QkAIAwEUdPF9l/ddqFEUDxyzfdjpBUi2SVzigBICBfSmQtP5MIXmdBCH/TQBSO0YYYmrCCFA5/kJ8KH9VPqAAAAAElFTkSuQmCC) repeat;
   .quote {
       text-align: center;
       color: $gold;
       font-size: em(30px);
       font-family: $second-font;
       padding-top: em(140px, 30px);
       padding-bottom: em(140px, 30px);
   }
}