

.row-quote {
   .quote {
       text-align: center;
       color: $gold;
       font-size: em(30px);
       font-family: $second-font;
       padding-top: em(140px);
       padding-bottom: em(140px);
   }
}