
.su-slider-slide-title {
  display: none!important;
}

.su-slider-pagination {
  display: none!important;
}

.su-slider-prev, .su-slider-next {
  position: relative!important;
  border-radius: 0!important;
  top: initial!important;
  /*bottom: -20px!important;*/
  left: 40px;
  margin: 0!important;
  transition: inherit!important;
  visibility: visible!important;
  opacity: 1!important;
}

.su-slider-next {
  left: 0!important;
  background: $gold 0 0 url(../images/prev-arrow.png) no-repeat!important;
}
.su-slider-prev {
  background: $gold 0 0 url(../images/next-arrow.png) no-repeat!important;
}