
.su-slider {
  max-width: 100%;
  margin: 0 auto;
}

.su-slider-slide-title {
  display: none!important;
}

.su-slider-pagination {
  display: none!important;
}
.su-slider:hover {
  .su-slider-prev, .su-slider-next {
    margin-left: 0px;
    margin-right: 0px;
    opacity: 1;
  }
}

.su-slider-prev, .su-slider-next {
  margin-left: 0!important;
  margin-right: 0!important;
  visibility: visible;
  opacity: 0.7!important;
  margin-top: -40px !important;
  position: relative!important;
  transform: translateY(-50%);
  border-radius: 0!important;
  margin-top: 0px!important;
}

.su-slider-next {
  transform: translateY(-50%) translateX(90%);
  background: $gold 0 0 url(../images/next-arrow.png) no-repeat!important;

  &:hover {
    opacity: 1!important;
  }
}
.su-slider-prev {
  transform: translateY(0%) translateX(25%);
  background: $gold 0 0 url(../images/prev-arrow.png) no-repeat!important;

  &:hover {
    opacity: 1!important;
  }
}

.su-slider-slide > a, .su-slider-slide > img, .su-slider-slide > a > img {
  height: 100%!important;
}


.square-container {
  position: relative;
  .square {
    width: 50%;
    padding-bottom: 50%;
    background-color: $yellow;
    position: absolute;
    top: 0;
    left:0 ;
    z-index: -1;
  }
  .square-shadow {
    width: 50%;
    padding-bottom: 50%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQoU43M2QkAIAwEUdPF9l/ddqFEUDxyzfdjpBUi2SVzigBICBfSmQtP5MIXmdBCH/TQBSO0YYYmrCCFA5/kJ8KH9VPqAAAAAElFTkSuQmCC) repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .logo {
 /*   right: 0;
    width: em(100px);
    height: em(100px);*/
  }
  .gray-square {
    bottom: 0;
    position: absolute;
    left: 0;
  }
}