.text-block {
    img {
        width:100%;
        height:auto;
    }
}

.row-lg.container.content.aligncenter {
    p {
        line-height: em(36px, 18px);
    }
    span.text-large.gold {
        line-height: em(36px, 23px);
    }
}