.video {
    &-cover {
        background-size: cover;
        background-position: center;
        overflow: hidden;
        @include absfull();
    }
    &-header {
        opacity: .2;
    }
    &-item {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
}