.title-corso {
    padding-left: em(55px, 30px);

    &:before {
        content: '';
        position: absolute;
        width: em(60px, 30px);
        height: em(60px, 30px);
        background-color: $yellow;
    }
}