.title-corso {
    padding-left: em(50px, 30px);
    position: relative;
    display: flex;
    align-items: center;
    &:before {
        content: '';
        position: absolute;
        width: em(60px, 30px);
        height: em(60px, 30px);
        background-color: $yellow;
        left: 0;
        z-index: -1;
    }
}
.argomento {
    .check {
        width: em(33px);
        height: em(33px);
        background-color: $square-list;
    }
}