.title-corso {
    padding-left: em(50px, 30px);
    position: relative;
    display: flex;
    align-items: center;
    &:before {
        content: '';
        position: absolute;
        width: em(60px, 30px);
        height: em(60px, 30px);
        background-color: $yellow;
        left: 0;
        z-index: -1;
    }
}
.argomento {
    padding-bottom: em(30px);
    .check {
        width: em(33px);
        height: em(33px);
        background-color: $square-list;
        .icon-check {
            top: -5px;
            left: -5px;
            position: relative;
            color: $light_gray;
        }
    }
    .argomento-text {
        padding-left: 30px;
    }
}