.corsi {
	&-meta {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.flag {
			img {
				margin-right: em(10px);
			}
		}
		.partners {
			img {
				margin-left: em(10px);
			}
		}
	}
	&.alt {
		@include breakpoint($bp) {
			.container-img {
				order: 2;
			}
			.content {
				order: 1;
			}
		}
	}
}

.title {
	&-date {
		padding-bottom: 0;
		font-size: em(40px);
		line-height: 1.125;
		text-align: center;
		color: $base_color;
		.corsi-date-row, .day-group, .place {
			display: block;
		}
		.day-group {
			font-size: em(70px, 40px);
		}
		.place {
			color: $gold;
			font-size: em(60px, 40px);
		}
		.sep {
			color: $light_gray;
			padding: 0 em(10px, 70px);
		}
		.year {
			padding-left: em(20px, 40px);
		}
	}
}