.corsi {
    &-meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .flag {
            img {
                margin-right: em(10px);
            }
        }
        .partners {
            img {
                margin-left: em(10px);
            }
        }
    }
    &.alt {
        @include breakpoint($bp) {
            .container-img {
                order: 2;
            }
            .content {
                order: 1;
            }
        }
    }
    .container-img {
        display: flex;
        justify-content: center;
        align-items: center;
        figure {
            position: relative;
            width: 100%;
            padding-right: em(40px);
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        .square {
            width: 66%;
            height: 66%;
            background-color: $yellow;
            position: absolute;
            bottom: em(-50px);
            right: 0px;
            z-index: -1;
        }
        .square-shadow {
            width: 66%;
            height: 66%;
            @include pattern();
            position: absolute;
            bottom: em(-80px);
            right: em(20px);
            z-index: -1;
        }
    }
    .content {
        h2.title {
            font-size: em(24px);
        }
    }
}

.title {
    &-date {
        padding-bottom: 0;
        font-size: em(40px);
        line-height: 1.125;
        color: $base_color;
        .corsi-date-row, .day-group, .place {
            display: block;
        }
        .day-group {
            color: $time-post;
            font-size: em(70px, 40px);
        }
        .place {
            color: $time-post;
            font-size: em(60px, 40px);
            padding-top: em(40px, 60px);
        }
        .sep {
            color: $light_gray;
            padding: 0 em(10px, 70px);
        }

        .year {
            padding-left: em(20px, 40px);
        }
        .single-corsi & {
            text-align: center;
        }
    }
}
