
.footer {
  border-top: 1px solid $border-footer;
  h1 {
    text-align: center;
    font-size: em(20px);
    padding-top: em(40px);
    padding-bottom: em(25px);
  }

  .bottom-footer {
    display: flex;
    justify-content: space-between;


    .text-2 {
      flex: 1;
    }

    .nav_menu-2 {
      flex: 2;
      text-align: center;

      li {
        list-style-type: none;
        display: inline-block;

        &:after {
          content:'\2022';
          margin-left: em(7px);
          margin-right: em(7px);
          color: $medium_gray;
        }
      }
    }

    .widget_img {
      flex: 1;
      text-align: right;
    }
  }
}
