
.footer {
  h1 {
    font-size: em(20px);
    padding-top: em(40px);
    padding-bottom: em(25px);
  }

  .bottom-footer {
    display: flex;
    justify-content: space-between;

  }
}

.widget_nav_menu {
  li {
    display: inline-block;
    list-style-type: none;
  }
}