.main {
	padding-top: em(70px);
	@include breakpoint($bp) {
		padding-left: em(70px);
	}
	min-height: calc(100vh - #{em(70px)});
}

[data-scrollmagic] {
	.handheld & {
		transform: none !important;
		opacity: 1 !important;
	}
}