html {
	&:not(.wf-active) {
		color: transparent !important;
		* {
			color: transparent !important;
		}
	}
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	overflow-x: hidden;
}

.main {
	padding-top: em(70px);
	@include breakpoint($bp) {
		padding-left: em(70px);
		.post-type-archive-product & {
			padding-left: 0;
		}
	}
	min-height: calc(100vh - #{em(70px)});
}

[data-scrollmagic] {
	.handheld & {
		transform: none !important;
		opacity: 1 !important;
	}
}