
.blog, .archive {
    .container-categories {
        position: relative;
        text-align: right;
        margin-bottom: em(130px);

        .categories {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: inline;
                padding: 0 em(20px);
                margin-right: em(30px);
                background-color: $w;

                a {
                    color: $gold;
                    font-family: $third-font;
                    font-weight: 400;
                }

            }
            .cat-item.current-cat {
                a {
                    color: $category_gray;
                }
            }
        }
        .line-categories {
            top: calc(50% - 2px);
            @extend %line-navigation;
        }

    }
}

.sticky {

    margin-bottom: em(150px);

    .container-img {

        display: flex;
        justify-content: center;
        align-items: center;

        figure {
            position: relative;
            width: 100%;
            padding-right: em(40px);

            img {
                width: 100%;
                height: auto;
                display: block;
            }
            .square {
                width: 66%;
                height: 66%;
                background-color: $yellow;
                position: absolute;
                bottom: em(-50px);
                right: 0px;
                z-index: -1;
            }
            .square-shadow {
                width: 66%;
                height: 66%;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQoU43M2QkAIAwEUdPF9l/ddqFEUDxyzfdjpBUi2SVzigBICBfSmQtP5MIXmdBCH/TQBSO0YYYmrCCFA5/kJ8KH9VPqAAAAAElFTkSuQmCC) repeat;
                position: absolute;
                bottom: em(-80px);
                right: em(20px);
                z-index: -1;
            }
        }
    }

    article {

        .container-post-head {
            @extend %post-head;
        }

        .entry-title {
            @extend %title-post;
            font-size: em(40px);
            padding: em(45px, 40px) 0;
        }

        .entry-summary {
            @extend %excerpt-post;
            padding-bottom: em(45px, 18px);

            p {
                line-height: em(30px, 18px);
            }
        }
    }
}

.single {
    .hentry.type-post {
        max-width: $max-width-blog;
        margin: 0 auto;
    }
}

.container-post {

    article {

        margin-bottom: em(100px);

        .container-img {
            position: relative;

            &:hover {
                .blur {
                    visibility: visible;
                    opacity: 0.7;
                }
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            .blur {
                visibility: hidden;
                opacity: 0;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQoU43M2QkAIAwEUdPF9l/ddqFEUDxyzfdjpBUi2SVzigBICBfSmQtP5MIXmdBCH/TQBSO0YYYmrCCFA5/kJ8KH9VPqAAAAAElFTkSuQmCC) repeat;
                cursor: pointer;
                @include absfull();
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }

        .container-post-head {
            @extend %post-head;
            padding-top: em(35px);

            a {
                font-style: italic;
            }
        }

        .entry-title {
            @extend %title-post;
            font-size: em(40px);
            padding: em(35px, 40px) 0;
        }

        .entry-summary {
            @extend %excerpt-post;
            padding-bottom: em(35px, 18px);

            p {
                line-height: em(30px, 18px);
            }

        }

    }
}

.navigation-page {
    position: relative;
    text-align: right;
    margin-bottom: em(150px);

    a {
        background-color: white;
        padding-left: em(20px);
        padding-right: em(20px);
        color: $gold;
        text-transform: uppercase;
    }

    span.current {
        color: $current-page;
    }
    .page-numbers, .current {
        margin-left: em(5px);
        margin-right: em(5px);
        padding-left: em(20px);
        padding-right: em(20px);
        background-color: white;
    }
    .prev, .next {
        margin-left: em(25px);
        margin-right: em(25px);
    }

    .line-categories {
        top: calc(50% - 2px);
        @extend %line-navigation;
    }

}

.container-post-head {
    @extend %post-head;
    padding-top: em(65px);

    a {
        color: $gold;
        font-style: italic;
    }
}

.entry-content {

    h1 {
        @extend %title-post;
        font-size: em(40px);
        letter-spacing: $letter-spacing-large;
        padding-bottom: em(45px, 40px);
        padding-top: em(45px, 40px);
    }

    h2 {
        @extend %title-post;
        font-size: em(40px);
        letter-spacing: $letter-spacing-base;
        padding-bottom: em(25px, 40px);
    }

    h3 {
        @extend %title-post;
        font-size: em(30px);
        letter-spacing: $letter-spacing-base;
        padding-bottom: em(25px, 30px);
    }

    h4, h5, h6 {
        @extend %title-post;
        font-size: em(26px);
        letter-spacing: $letter-spacing-base;
        padding-bottom: em(25px, 26px);
    }

    p {
        font-family: $main-font;
        font-size: em(18px);
        letter-spacing: $letter-spacing-base;
        line-height: em(30px, 18px);
    }

    blockquote {
        text-align: center;
        font-size: em(26px);
        color: $gold;

        p {
            line-height: em(45px, 26px);
        }

    }

    ul {
        padding: 0;
        li {
            list-style-type: none;
            font-size: em(18px);
            line-height: em(31px, 18px);

            &:before {
                content: '\2022';
                margin-left: em(7px);
                margin-right: em(7px);

            }
        }
    }
}

%post-head {
    font-size: em(18px);
    font-family: $main-font;
    color: $time-post;

    a {
        color: $time-post;
    }
}


%excerpt-post {
    font-size: em(18px);
    font-family: $main-font;
    color: $base_color;
}

%line-navigation {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $category_line;
    z-index: -1;
}