
.blog {
  .page-header {
    h1 {
      font-size: em(50px);
      text-transform: uppercase;
      font-weight: 400;
      color: $gold;
      letter-spacing: $letter-spacing-large;
      font-family: $third-font;
      text-align: center;
      padding: em(80px, 50px) 0;
    }
  }
  .categories {
    list-style: none;

    li {
      display: inline;
    }
  }
}