
.blog {
  .page-header {
    h1 {
      font-size: em(50px);
      letter-spacing: $letter-spacing-large;
      font-family: $third-font;
      text-align: center;
      padding: em(80px, 50px) 0;
    }
  }
}