
.blog, .archive {
  .page-header {
    h1 {
      font-size: em(50px);
      text-transform: uppercase;
      font-weight: 400;
      color: $gold;
      letter-spacing: $letter-spacing-large;
      font-family: $third-font;
      text-align: center;
      padding: em(80px, 50px) 0;
    }
  }
  .container-categories {
    position: relative;
    text-align: right;
    margin-bottom: em(130px);

    .categories {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline;
        padding: 0 em(20px);
        margin-right: em(30px);
        background-color: $w;

        a {
          color: $gold;
          font-family: $third-font;
          font-weight: 400;
        }

      }
      .cat-item.current-cat {
        a {
          color: $category_gray;
        }
      }
    }

    .line-categories {
      top: calc(50% - 2px);
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $category_line;
      z-index: -1;
    }
  }
}

.sticky {
  display: flex;
  margin-bottom: em(150px);

  .container-img {
    @include grid(2);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 em(80px);

    figure {
      position: relative;
      overflow: hidden;
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  article {
    width: 50%;
    padding: 0 em(80px);

    .container-post-head {
      @extend %post-head;
    }

    .entry-title {
      @extend %title-post;
      padding: em(45px, 40px) 0;
    }

    .entry-summary {
      @extend %excerpt-post;
      padding-bottom: em(45px, 18px);
    }
  }
}

.container-post {
  display: flex;

  article {
    width: 50%;
    margin-bottom: em(100px);

    .container-img {

      img {
        width: 100%;
        height: auto;
      }
    }

    .container-post-head {
      @extend %post-head;
    }

    .entry-title {
      @extend %title-post;
      padding: em(35px, 40px) 0;
    }

    .entry-summary {
      @extend %excerpt-post;
      padding-bottom: em(35px, 18px);
    }

  }
}

%post-head {
  font-size: em(18px);
  font-family: $main-font;
  color: $time-post;

  a {
    color: $time-post;
  }
}

%title-post {
  color: $gold;
  font-size: em(40px);
  font-family: $third-font;
  text-transform: uppercase;

  a {
    color: $gold;
  }
}

%excerpt-post {
  font-size: em(18px);
  font-family: $main-font;
  color: $base_color;
}