.woocommerce-MyAccount-navigation {
    padding-top: em(30px);
    padding-bottom: em(30px);
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
            list-style-type: none;
            color: $gold;
            line-height: 1;
            text-align: center;
            padding-bottom: em(10px);
            padding-top: em(10px);
            &:before {
                content: '\2022';
                margin-left: em(7px);
                margin-right: em(7px);
            }
            a {
                font-size: em(18px);
                color: $gold;
                transition: color $speed;
                font-family: $main-font;
                &:hover {
                    color: $category_gray;
                }
            }
            @include breakpoint($bp) {
                display: flex;
                align-items: center;
            }
        }
        li:first-child {
            &:before {
                display: none;
                content: '';
                margin-left: 0;
                margin-right: em(7px);
            }
        }
    }
}

.woocommerce-MyAccount-content {
    padding-bottom: em(80px);
    a {
        color: $gold;
    }
}

.cols-shipping {
    padding-left: 0px!important;

    address {
        padding-bottom: em(30px);
    }
}
mark {
    background-color: $gold;
    color: $w;
}