.woocommerce-product-search {
    display: flex;
    justify-content: center;

    .container-search {
        margin-right: 0 !important;
        float: none !important;
        position: relative;
        border: 1px solid $light_gray;
        display: flex;
        align-items: center;

        .btn-reverse{
            background-color: $w;
        }

        input {
            font-size: em(14px);
            font-family: $main-font;
            color: $placeholder;
            padding-left: em(18px);
            border: 0;
        }
        input:focus {
            outline: none;
        }
    }
}

.order-bar {
    position: relative;
    display: flex;
    justify-content: space-between;

    .line-categories {
        top: calc(50% - 2px);
        @extend %line-navigation;
    }

    .categories {
        font-family: $third-font;
        color: $gold;
        text-transform: uppercase;

        .product_cat ul {
            position: absolute;
        }

        li {
            padding-left: em(20px);
            padding-right: em(40px);
        }
    }

    form {

    }
}

.products.grid-4 {
    @extend %grid-products;
}

.woocommerce-pagination {
    position: relative;
    margin-bottom: em(150px);

    .page-numbers {
        display: flex;
        justify-content: flex-end;
        line-height: 1;

        li {
            span.current {
                color: $current-page;
                margin-left: em(5px);
                margin-right: em(5px);
                padding-left: em(20px);
                padding-right: em(20px);
                background-color: white;
            }
            a {
                background-color: white;
                padding-left: em(20px);
                padding-right: em(20px);
                color: $gold;
                text-transform: uppercase;
                margin-left: em(5px);
                margin-right: em(5px);
            }
            .prev, .next {
                margin-left: em(25px);
                margin-right: em(25px);
            }
        }
    }

    .line-categories {
        top: calc(50% - 2px);
        @extend %line-navigation;
    }
}