.woocommerce-product-search {
    display: flex;
    justify-content: center;
    max-width: 700px;
    width: $f;
    margin: 0 auto;
    input {
        margin: 0;
    }
    input[type="search"] {
        border-color: $category_line;
        font-size: 14px;
        &:focus {
            border-color: $gold;
        }
    }
    .btn-reverse {
        background-color: $category_line;
        border: 1px solid $category_line;
        color: $gold;
        &:hover {
            background-color: $gold;
            border-color: $gold;
            color: $w;
        }
    }
}

.order-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: em(40px);
    margin-bottom: em(150px);

    .line-categories {
        top: calc(50% - 2px);
        @extend %line-navigation;
    }

    .categories {
        font-family: $third-font;
        color: $gold;
        text-transform: uppercase;
        background-color: $w;

        &:hover{
            .product_cat {
                border-top: 1px solid $category_gray;
                border-left: 1px solid $category_gray;
                border-right: 1px solid $category_gray;
                &:after {
                    transform: scale(-1);
                }
                ul {
                    visibility: visible;
                    opacity: 1;
                    border-bottom: 1px solid $category_gray;
                    border-left: 1px solid $category_gray;
                    border-right: 1px solid $category_gray;
                    z-index: 1;
                }
            }
        }

        .product_cat {
            background-color: white;
            color: $category_gray;
            position: relative;
            border-top: 1px solid $w;
            border-left: 1px solid $w;
            border-right: 1px solid $w;
            transition:  border $speed;
            &:after {
                position: absolute;
                right: 15px;
                content: "";
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid $category_gray;
                top: calc(50% - 4px);
                transition: transform $speed;
            }

            ul {
                transition: opacity $speed, visibility $speed, border $speed;
                position: absolute;
                left: -1px;
                visibility: hidden;
                opacity: 0;
                background-color: $w;
                width: calc( 100% + 2px );
                border-bottom: 1px solid $w;
                border-left: 1px solid $w;
                border-right: 1px solid $w;
            }
        }

        ul {
            cursor: pointer;
            li {
                padding-left: em(20px);
                padding-right: em(60px);
                padding-top: em(10px);
                padding-bottom: em(10px);

                a{
                    color: $gold;
                }
            }
        }
    }

    form {
        display: flex;
        align-items: center;
        .orderby {
            display: none;
        }
        .select {
            font-family: $third-font;
            color: $gold;
            text-transform: uppercase;
            background-color: $w;
            cursor: pointer;
            position: relative;


            &:hover{
                .select-value {
                    border-top: 1px solid $category_gray;
                    border-left: 1px solid $category_gray;
                    border-right: 1px solid $category_gray;
                    &:after {
                        transform: scale(-1);
                    }
                }
                .select-list {
                    visibility: visible;
                    opacity: 1;
                    border-bottom: 1px solid $category_gray;
                    border-left: 1px solid $category_gray;
                    border-right: 1px solid $category_gray;
                    z-index: 1;
                }
            }
            .select-value {
                padding-left: em(20px);
                padding-right: em(60px);
                padding-top: em(10px);
                padding-bottom: em(10px);
                background-color: white;
                color: $category_gray;
                position: relative;
                border-top: 1px solid $w;
                border-left: 1px solid $w;
                border-right: 1px solid $w;
                transition:  border $speed, border $speed;
                &:after {
                    position: absolute;
                    right: 15px;
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 6px solid $category_gray;
                    top: calc(50% - 4px);
                    transition: transform $speed;
                }
            }
            .select-list {
                transition: opacity $speed, visibility $speed;
                position: absolute;
                padding-left: em(20px);
                padding-right: em(40px);
                left: 0px;
                visibility: hidden;
                opacity: 0;
                background-color: $w;
                width: 100%;
                border-bottom: 1px solid $w;
                border-left: 1px solid $w;
                border-right: 1px solid $w;
                .select-list-item {
                    padding-top: em(10px);
                    padding-bottom: em(10px);
                }
            }
        }
    }
}

.products.grid-4 {
    @extend %grid-products;
}

.woocommerce-pagination {
    position: relative;
    margin-bottom: em(150px);

    .page-numbers {
        display: flex;
        justify-content: flex-end;
        line-height: 1;

        li {
            span.current {
                color: $current-page;
                margin-left: em(5px);
                margin-right: em(5px);
                padding-left: em(20px);
                padding-right: em(20px);
                background-color: white;
            }
            a {
                background-color: white;
                padding-left: em(20px);
                padding-right: em(20px);
                color: $gold;
                text-transform: uppercase;
                margin-left: em(5px);
                margin-right: em(5px);
            }
            .prev, .next {
                margin-left: em(25px);
                margin-right: em(25px);
            }
        }
    }

    .line-categories {
        top: calc(50% - 2px);
        @extend %line-navigation;
    }
}

.btn-container{
    display: flex;
    justify-content: center;
}