.woocommerce-product-search {
    display: flex;
    justify-content: center;

    .container-search {
        margin-right: 0 !important;
        float: none !important;
        position: relative;
        border: 1px solid $light_gray;
        display: flex;
        align-items: center;

        input {
            font-size: 26px;
            font-family: $second-font;
            color: $base_color;
            text-align: right !important;
            padding-right: 17px;
            border: 0;
        }
        input:focus {
            outline: none;
        }
    }
}

.products.grid-4 {
    @extend %grid-products;
}

.woocommerce-pagination {
    position: relative;
    .page-numbers {
        display: flex;
        justify-content: flex-end;
        line-height: 1;

        li {
            span.current {
                color: $current-page;
            }
            a {
                background-color: white;
                padding-left: em(20px);
                padding-right: em(20px);
                color: $gold;
                text-transform: uppercase;
                margin-left: em(5px);
                margin-right: em(5px);
            }
            .prev, .next {
                margin-left: em(25px);
                margin-right: em(25px);
            }
        }
    }

    .line-categories {
        top: calc(50% - 2px);
        @extend %line-navigation;
    }
}