/* START Make the WooCommerce Cart Table Responsive  for Mobile */
/* CSS published in http://www.jeremycarter.com.au/optimising-woocommerce-checkout-for-mobile/ */

@media screen and (max-width: 720px) {

    td.product-thumbnail {
        width: 100%!important;
        text-align: center;
    }
    td.product-name {
        padding-left: 0!important;
        width: 100%!important;
        text-align: center;
        .name-product {
            padding-bottom: 0!important;
        }
    }
    td.product-quantity {
        .quantity {
      /*      width: em(95px)!important;*/
        }
    }
    td.price {
        text-align: center!important;
    }

    /* Force table to not be like tables anymore */
    .woocommerce-page table.shop_table,
    .woocommerce-page table.shop_table thead,
    .woocommerce-page table.shop_table tbody,
    .woocommerce-page table.shop_table th,
    .woocommerce-page table.shop_table td,
    .woocommerce-page table.shop_table tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .woocommerce-page table.shop_table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .woocommerce-page table.shop_table tr {

    }

    .woocommerce-page table.shop_table td {
        /* Behave  like a "row" */
        position: relative;
 /*       padding-left: 30% !important;*/
    }

    .woocommerce-page table.shop_table {
        border: none;
    }

    .woocommerce-page table.shop_table td.product-spacer {
        border-color: #FFF;
        height: 10px;
    }

    .woocommerce-page table.shop_table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }


    .woocommerce .quantity,
    .woocommerce #content .quantity,
    .woocommerce-page .quantity,
    .woocommerce-page #content .quantity {
        margin: 0;
    }

    .woocommerce-page table.cart td.actions,
    .woocommerce-page #content table.cart td.actions {
        text-align: left;
        border:0;
        padding-left: 6px !important;
    }

    .woocommerce-page table.cart td.actions .button.alt,
    .woocommerce-page #content table.cart td.actions .button.alt {
        float: left;
        margin-top: 10px;
    }

    .woocommerce-page table.cart td.actions div,
    .woocommerce-page #content table.cart td.actions div,
    .woocommerce-page table.cart td.actions input,
    .woocommerce-page #content table.cart td.actions input {
        margin-bottom: 10px;
    }
    .woocommerce-page .cart-collaterals {
        overflow: hidden;
    }

    .woocommerce-page .cart-collaterals .cart_totals {
        float: left;
        width: 100%;
        text-align: left;

    }

    .woocommerce-page .cart-collaterals .cart_totals th,
    .woocommerce-page .cart-collaterals .cart_totals td {
        border:0 !important;
    }

    .woocommerce-page .cart-collaterals .cart_totals table tr.cart-subtotal td,
    .woocommerce-page .cart-collaterals .cart_totals table tr.shipping td,
    .woocommerce-page .cart-collaterals .cart_totals table tr.total td {
        padding-left: 6px !important;
    }

    .woocommerce-page table.shop_table tr.cart-subtotal td,
    .woocommerce-page table.shop_table tr.shipping td,
    .woocommerce-page table.shop_table tr.total td,
    .woocommerce-page table.shop_table.order_details tfoot th,
    .woocommerce-page table.shop_table.order_details tfoot td {
        padding-left: 6px !important;
        border:0 !important;
    }

    .woocommerce-page table.shop_table tbody {
        padding-top: 10px;
    }

    .woocommerce .col2-set .col-1,
    .woocommerce-page .col2-set .col-1,
    .woocommerce .col2-set .col-2,
    .woocommerce-page .col2-set .col-2,
    .woocommerce form .form-row-first,
    .woocommerce form .form-row-last,
    .woocommerce-page form .form-row-first,
    .woocommerce-page form .form-row-last {
        float: none;
        width: 100%;
    }

    .woocommerce .order_details ul,
    .woocommerce-page .order_details ul,
    .woocommerce .order_details,
    .woocommerce-page .order_details {
        padding:0;
    }

    .woocommerce .order_details li,
    .woocommerce-page .order_details li {
        clear: left;
        margin-bottom: 10px;
        border:0;
    }

}

/* END Make the WooCommerce Cart Table Responsive  for Mobile */


.product-name {
    text-align: left;
}
.product-quantity{
    text-align: center;
}
.product-price, .product-subtotal {
    text-align: right;
}

th {
    border-bottom: 1px solid $category_line;
    font-size: em(14px);
    color: $placeholder;
    padding-left: 0px;
}
td {
    border-bottom: 1px solid $category_line;
}
.product-thumbnail {
/*    width: 1px;
    white-space: nowrap;*/
}
td.product-name {
    padding-left: em(30px);
  /*  width: 1px;
    white-space: nowrap;*/
    .name-product {
        padding-bottom: em(70px);
        a {
            font-size: em(18px);
            color: $gold;

        }
    }
    .delete-button {
        .remove {
            color: $base_color;
            font-size: em(14px);
            font-family: $main-font;
            .icon-close {
                &:before {
                    margin-right: 10px;
                    top: 3px;
                    position: relative;
                    color: $gold;
                }
            }
        }
    }
}
.product-quantity {
    .quantity {
        margin: 0 auto;
        float: none !important;
        position: relative;
        border: 1px solid $light_gray;
        display: flex;
        align-items: center;
        width: em(95px);

        input {
            width: em(80px, 26px);
            font-size: 26px;
            font-family: $second-font;
            color: $base_color;
            text-align: right !important;
            padding-right: 17px;
            border: 0;
        }
        input:focus {
            outline: none;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .number_controlls {
            @include absfull();
            height: 50%;
            width: 30px;
            cursor: pointer;
        }

        .minus {
            bottom: 0;
            top: inherit;
            &:after {
                position: absolute;
                top: 1px;
                right: 0;
                content: "";
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid $gold;
            }
        }

        .plus {
            &:after {
                right: 0;
                bottom: 1px;
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid $gold;
            }
        }
    }
}

.product-price, .product-subtotal {
    padding-bottom: 0!important;
    .amount {
        font-size: em(22px)!important;
        color: $gold;
        font-family: $second-font;
        font-weight: bold;
    }
}

.shop_table {
    width: 100%;
}

.title-cart {
    padding-top: em(80px);
}
.container-button {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

    .coupon {
        display: flex;
        flex-wrap: wrap;
        padding-top: em(30px);
        .coupon-label {
            width: 100%;
            font-size: em(14px);
            color: $placeholder;
            font-family: $main-font;
        }
        input.input-text {
            font-size: 22px;
            font-family: $second-font;
            color: $base_color;
            padding: em(5px) em(20px);
            width:100%;
            @include breakpoint($bp) {
                width: 600px;
            }
        }
        input:focus {
            outline: none;
        }
    }
}
input[name=update_cart] {
    margin-top: em(10px);
    margin-bottom: em(10px);
}
.checkout-button {
    margin-top: em(10px);
    margin-bottom: em(10px);
}

.container-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cart_totals {
    h2{
        padding-bottom: 0;
        font-size: em(20px);
        padding-top: 10px;
    }
    .shop_table {
        tr {
            text-align: left;
            td {
                text-align: right;
            }
        }

    }
}

.shop_table.order_details {
    .product-name {
        padding-left: 0!important;
        text-align: left;
    }
    .product-total {
        text-align: center;
    }
}