.order_item {
    .product-name{
        padding-top: em(10px);
        padding-bottom: em(10px);
        a, .product-quantity {
            color: $gold;
        }
    }
}

.woocommerce-thankyou-order-details {
    li {
        padding-top: em(10px);
        padding-bottom: em(10px);
        color: $base-color;
        line-height: 1;
        strong {
            color: $gold;
        }
    }
}

.woocommerce-thankyou-order-received {
    font-size: em(30px);
    padding-bottom: em(50px, 30px);
    @extend %title-post;
    padding-left: em(20px,30px);
    padding-right: em(20px, 30px);

    @include breakpoint($bp) {
        padding-left: em(40px, 30px);
        padding-right: em(40px, 30px);
    }
}