.order_item {
    .product-name{
        padding-top: em(10px);
        padding-bottom: em(10px);
        a, .product-quantity {
            color: $gold;
        }
    }
}

.woocommerce-thankyou-order-details {
    li {
        padding-top: em(10px);
        padding-bottom: em(10px);
        color: $base-color;
        line-height: 1;
    }
}

.woocommerce-thankyou-order-received {
    padding-bottom: em(40px);
    @extend %title-post;

}

.checkout {
    strong {
        color: $gold;
    }
    .woocommerce {
        & > p, & > h2, & > h3 {
            font-size: em(16px);
            padding: {
                left: em(15px);
                right: em(15px);
                top: em(10px);
                bottom: em(10px);
            }
            @include breakpoint(640px) {
                padding: {
                    left: em(20px);
                    right: em(20px);
                }
            }
            @include breakpoint($bp) {
                padding: {
                    left: em(40px);
                    right: em(40px);
                }
            }
        }
    }
}


.wc-bacs-bank-details{
    li {
        padding: {
            left: em(15px);
            right: em(15px);
            top: em(10px);
            bottom: em(10px);
        }
        @include breakpoint(640px){
            padding: {
                left: em(20px);
                right: em(20px);
            }
        }
        @include breakpoint($bp){
            padding: {
                left: em(40px);
                right: em(40px);
            }
        }
    }
}

.table_checkout {
    .product-total {
        text-align: center!important;
        @include breakpoint($bp) {
            text-align: right!important;
        }
    }
    tfoot {
        td {
            text-align: center!important;
            @include breakpoint($bp) {
                text-align: right!important;
            }
        }
    }
}