%grid-products {
    .archive & {
        padding-bottom: em(150px);
    }
    .product {
        padding-bottom: em(10px);

        a {
            width: 100% !important;

            img {
                width: 100% !important;
                height: auto !important;
                display: block;
            }
            &:before {
                content: "";
                visibility: hidden;
                opacity: 0;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQoU43M2QkAIAwEUdPF9l/ddqFEUDxyzfdjpBUi2SVzigBICBfSmQtP5MIXmdBCH/TQBSO0YYYmrCCFA5/kJ8KH9VPqAAAAAElFTkSuQmCC), url("../images/lens.png");
                background-repeat: repeat, no-repeat;
                display: block;
                position: absolute;
                width: 100%;
                padding-top: 50%;
            }

            h3 {
                @extend %title-post;
                color: $title-related;
                font-family: $main-font;
                text-transform: none;
                text-align: center;
                font-size: em(18px);
                padding-top: em(20px, 18px);
                padding-bottom: em(10px, 18px);
            }       
        }
    }
}