%grid-products {
    .archive & {
        padding-bottom: em(150px);
    }
    .product {
        padding-bottom: em(10px);

        a {
            width: 100% !important;
            position: relative;
            display: block;
            font-family: "jurgita-icons";

            &:hover {
                &:before {
                    visibility: visible;
                    opacity: 1;
                }
                &:after {
                    visibility: visible;
                    opacity: 1;
                }
            }
            img {
                width: 100% !important;
                height: auto !important;
                display: block;
            }
            &:before {
                content: "";
                visibility: hidden;
                opacity: 0;
                @include pattern-lens();
                display: block;
                position: absolute;
                width: 100%;
                padding-top: 100%;
                transition: opacity $speed, visibility $speed;
            }
            &:after {
                content: "\EA10";
                visibility: hidden;
                opacity: 0;
                transition: opacity $speed, visibility $speed;
            }

            h3 {
                @extend %title-post;
                color: $title-related;
                font-family: $main-font;
                text-transform: none;
                text-align: center;
                font-size: em(18px);
                padding-top: em(20px, 18px);
                padding-bottom: em(10px, 18px);
            }       
        }
    }
}