.woocommerce-Address-title {
    font-size: em(28px);
    padding-top: em(10px);
    padding-bottom: em(10px);
}

.woocommerce-MyAccount-content {
    .title {
        padding-bottom: em(30px, 20px);
        padding-top: em(30px, 20px);
        font-size: em(20px);
    }
    label {
        text-align: left;
    }
    .grid-4 {
        padding-left: 0;
        padding-right: 0;
    }
    .col-2 {
        @include breakpoint($bp) {
            padding-left: 0;
            padding-right: 0;
            &:nth-child(even) {
                padding-left: em(20px);
            }

            &:nth-child(odd) {
                padding-right: em(20px);
            }
        }
    }
    .btn {
        margin-top: em(15px);
        margin-bottom: em(15px);
    }
}

#billing_country_field, #shipping_country_field, #billing_state_field, #shipping_state_field  {
    .select {
        display: none;
    }
}

.woocommerce-edit-address {
    .body-container {
        max-width: 100%;
        label {
            display: flex;
        }
    }
}

.select2-choice {
    padding-top: em(9px) !important;
    padding-bottom: em(9px) !important;
    border: 1px solid $gold !important;
    border-radius: 0px !important;
}

#billing_address_2_field, #shipping_address_2 {
    padding-top: em(29px);
}