.woocommerce-Address-title {
    font-size: em(28px);
    padding-top: em(10px);
    padding-bottom: em(10px);
}

.woocommerce-MyAccount-content {
    label {
        text-align: left;
    }
}
#billing_country_field, #billing_state_field {
    .select {
        display: none;
    }
}

#billing_address_1_field {
    padding-bottom: em(10px);
}

.woocommerce-edit-address {
    .body-container {
        max-width: 100%;
        label {
            display: flex;
        }
    }
}
