.tabs {
    display: flex;
    padding-top: em(50px, 30px);
    padding-bottom: em(50px, 30px);
}

.tab-content{
    transition: display $speed;
    display: none;
}

.tab-content.current{
    display: inherit;
}

.tab-link.current {
    color: $category_gray;
}
.tab-link {
    cursor: pointer;
}
.login, .register {
    p {
        padding-bottom: em(30px, 18px);
    }
}
.lost_password {
    a {
        font-size: em(14px);
        color: $gold;
        font-style: italic;
    }
}