.tabs {
    display: flex;
}

.tab-content{
    transition: display $speed;
    display: none;
}

.tab-content.current{
    display: inherit;
}

.tab-link.current {
    font-weight: bold;
}
.tab-link {
    cursor: pointer;
}