.tabs {
    display: flex;
    padding-top: em(50px);
    padding-bottom: em(50px);
}

.tab-content{
    transition: display $speed;
    display: none;
}

.tab-content.current{
    display: inherit;
}

.tab-link.current {
    color: $category_gray;
}
.tab-link {
    cursor: pointer;
}
.login, .register {
    p {
        padding-bottom: 30px;
    }
}