#payment {
    .item-payment {
        font-size: em(14px, 20px);
        color: $category_gray;
        padding-bottom: em(30px, 20px);
        font-family: $base_color;
    }
    .payment_method_paypal {
        img {
            display: none;
        }
        a {
            display: none;
        }
    }
    .payment_box {
        padding-left: em(25px, 20px);
    }
}