.woocommerce-checkout-review-order-table {
    .product-total {
        text-align: center;
        @include breakpoint($bp) {
            text-align: right;
        }
    }
    .product-name, .product-total {
        padding-left: 0;
        font-size: em(18px);
        color: $gold;
        padding: em(20px) 0;
    }

    .cart-subtotal, .order-total {
        text-align: center;
        @include breakpoint($bp) {
            text-align: left;
            th {
                padding: em(20px) 0;
            }
            td {
                text-align: right;
            }
        }
    }
    .woocommerce-Price-amount {
        @extend .price;
    }
    tfoot {
        display: block;
    }
}