.woocommerce-checkout-review-order-table {
    .product-total {
        text-align: right;
    }
    .product-name {
        padding-left: 0;
        font-size: em(18px);
        color: $gold;
    }
    .cart-subtotal, .order-total {
        text-align: left;
        td {
            text-align: right;
        }
    }
    .woocommerce-Price-amount {
        @extend .price;
    }

}