
.product {

  .images {
    display: flex;

    a {
      order: 2;
    }

    .thumbnails {
      display: flex;
      flex-direction: column;
      align-items: center;

      a{
        border: 1px solid $light_gray;
      }
    }
  }
}