.woocommerce-message {
    padding-top: em(40px);
    padding-bottom: em(40px);
    a {
        color: $gold;
    }
}
.cart-empty {
    padding-top: em(40px);
    padding-bottom: em(40px);
}

.return-to-shop {
    padding-bottom: em(10px);
}