.container {
    position: relative;
    @include normalize_padding();
}
.body-container {
    position: relative;
    margin: 0 auto;
    @include normalize_padding();
    max-width: $max-width-blog;

}