@font-face {
  font-family: "jurgita-icons";
  src: url('../fonts/jurgita-icons.eot');
  src: url('../fonts/jurgita-icons.eot?#iefix') format('eot'),
    url('../fonts/jurgita-icons.woff2') format('woff2'),
    url('../fonts/jurgita-icons.woff') format('woff'),
    url('../fonts/jurgita-icons.ttf') format('truetype'),
    url('../fonts/jurgita-icons.svg#jurgita-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon"], [class*=" icon"] {
  display: inline-block;
  font-family: "jurgita-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-J:before { content: "\EA01" }
.icon-arrow-down:before { content: "\EA02" }
.icon-arrow-left:before { content: "\EA03" }
.icon-arrow-right:before { content: "\EA04" }
.icon-audio-off:before { content: "\EA05" }
.icon-audio:before { content: "\EA06" }
.icon-cart-full:before { content: "\EA07" }
.icon-cart:before { content: "\EA08" }
.icon-check:before { content: "\EA09" }
.icon-close:before { content: "\EA0A" }
.icon-credits:before { content: "\EA0B" }
.icon-drag:before { content: "\EA0C" }
.icon-facebook:before { content: "\EA0D" }
.icon-google:before { content: "\EA0E" }
.icon-instagram:before { content: "\EA0F" }
.icon-lente:before { content: "\EA10" }
.icon-menu:before { content: "\EA11" }
.icon-pause:before { content: "\EA12" }
.icon-play-anteprima:before { content: "\EA13" }
.icon-play:before { content: "\EA14" }
.icon-scroll-mouse:before { content: "\EA15" }
.icon-scroll:before { content: "\EA16" }
.icon-select-down:before { content: "\EA17" }
.icon-select-up:before { content: "\EA18" }
.icon-twitter:before { content: "\EA19" }