.iubenda-banner-content {
    p:first-child {
        color: $gold!important;
        font-weight: 400!important;
        font-family: $third-font!important;
    }
    p:last-child {
        letter-spacing: $letter-spacing-base!important;
        font-family: $main-font!important;
        font-size: em(18px)!important;
    }
}