*, *:after, *:before {
    box-sizing: border-box !important;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-size: $base_font_size - 4px;
    color: $base_color;
    margin: 0;
    font-family: $main-font;
    letter-spacing: $letter-spacing-base;

    @include breakpoint(640px) {
        font-size: $base_font_size - 2px;
    }
    @include breakpoint(1024px) {
        font-size: $base_font_size;
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: 1em;
    line-height: 1;
}

a {
    text-decoration: none;
    transition: color $speed;
}

figure {
    margin: 0;
}

p {
    letter-spacing: $letter-spacing-base;
    margin: 0;
    font-family: $main-font;
    font-size: em(18px);
    letter-spacing: $letter-spacing-base;
    line-height: em(30px, 18px);
    .content &, .entry-content & {
        padding-bottom: em(40px, 18px);
        &:nht-last-of-type(1) {
            padding-bottom: 0;
        }
    }
}


ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


%title-post {
    color: $gold;
    font-weight: 400;
    font-family: $third-font;
    a {
        color: $gold;
    }
}

.aligncenter {
    text-align: center;
}

.text-large {
    font-family: $second-font;
    font-size: em(23px);
    &.gold {
        color: $gold;
    }
    p & {
        font-size: em(23px, 18px);
    }
}

.content {
    .title, h3, h2, h4 {
        font-size: em(40px);
        padding-bottom: em(40px, 40px);
        color: $gold;
    }
    h2, h3, h4, h5 {
        font-family: $third-font;
        font-weight: 400;
    }
}

.title {
    font-size: em(30px);
    padding-bottom: em(50px, 30px);
    @extend %title-post;
    .page-header & {
        font-size: em(50px);
        padding-bottom: 0;
        width: $f;
    }
}

.subtitle {
    font-family: $third-font;
    font-size: em(26px);
    padding-top: em(40px, 26px);
    font-weight: normal;
    .home & {
        padding-bottom: em(50px, 26px);
        width: $f;
    }
}

.page-header-top {
    .title {
        line-height: em(60px, 50px);
    }
    .subtitle {
        line-height: em(45px, 26px);
    }
}

ul {
    padding: 0;
    li {
        list-style-type: none;
        font-size: em(18px);
        line-height: em(31px, 18px);

        &:before {
            content: '\2022';
            margin-left: em(7px);
            margin-right: em(7px);

        }
    }
}